{% extends 'base.html' %}

{% block title %}Home | My Portfolio{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="display-4">Hi, I'm Dmytro!</h1>
    <p class="lead">A passionate Backend Python Developer specializing in Django, FastAPI, and more.</p>
</div>

<hr>

<h2 id="projects" class="text-center mt-5">My Projects</h2>
<div class="row">
    {% for project in projects %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                {% if project.image %}
                    <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>

                    {% if project.tags.all %}
                        <p>
                            <strong>Technologies:</strong>
                            {% for tag in project.tags.all %}
                                <span class="badge" style="background-color: {{ tag.color }}; color: #fff;">
                                    {{ tag.name }}
                                </span>
                            {% endfor %}
                        </p>
                    {% endif %}

                    {% if project.repo_link %}
                        <a href="{{ project.repo_link }}" class="btn btn-primary" target="_blank">View on GitHub</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>



<hr>

<h2 id="contact" class="text-center mt-5">Contact Me</h2>
<div class="text-center">
    <p>Email: <a href="mailto:support@localhost">support@localhost</a></p>
    <p>Phone: +38 (063) 000-00-00</p>
</div>
{% endblock %}
